@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGreen: rgb(133, 158, 128);
  --darkGreen: rgb(53, 81, 54);
  --greenWhite: rgb(224, 242, 221);
}
 html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather/Merriweather') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('/fonts/merriweather/Merriweather-Bold') format('ttf');
  font-weight: 500;
  font-style: normal;
}

.fade-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-visible {
  opacity: 1;
  transform: translateY(0px);
}

#quote-form {
  scroll-margin-top: 30vh;
}

.magnify-container {
  position: relative;
  display: inline-block;
}

.magnify-container::before {
  content: "🔍"; /* Unicode magnifying glass emoji */
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.magnify-container:hover::before {
  opacity: 1; /* Show icon on hover */
}