@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGreen: rgb(116, 143, 111)
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather/Merriweather') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('/fonts/merriweather/Merriweather-Bold') format('ttf');
  font-weight: 500;
  font-style: normal;
}

