@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGreen: rgb(133, 158, 128);
  --darkGreen: rgb(53, 81, 54);
  --greenWhite: rgb(224, 242, 221);
}
 html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather/Merriweather') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('/fonts/merriweather/Merriweather-Bold') format('ttf');
  font-weight: 500;
  font-style: normal;
}

.fade-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-visible {
  opacity: 1;
  transform: translateY(0px);
}

#quote-form {
  scroll-margin-top: 30vh;
}